/*Common styles*/

* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    margin-top: 0;
    padding-left: 0;
}


/*Header styles*/

.site-header {
    padding-top: 48px;
    padding-bottom: 70px;
}

.site-header .container {
    font-size: 0;
}

.site-header .logo {
    display: inline-block;
    width: 50%;
}

.site-header .menu {
    width: 50%;
    text-align: right;
    display: inline-block;
    font-size: 18px;
}

.site-header li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.menu a:hover {
    color: brown;
}

.menu .menu-item {
    display: inline-block;
    margin-right: 12%;
}


/*Slider*/

.slide-content {
    padding-bottom: 60px;
}

.slider .container {
    font-size: 0;
}

.slider .slider-text {
    display: inline-block;
    width: 50%;
    font-size: 24px;
    text-align: right;
}

.slider-text h1 {
    font-family: Raleway;
    word-wrap: break-word;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
}

.slider-text a {
    color: #e10011;
    text-decoration: none;
}

.slider-text a:hover {
    color: brown;
}

.slider .slider-image {
    display: inline-block;
    margin-left: 10%;
    margin-top: 80px;
    width: 40%;
}


/*Featured*/

.featured {
    background-color: #ffffff;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}


/*clearfix*/

.featured:before,
.featured:after {
    content: "";
    display: table;
}

.featured:after {
    clear: both;
}

.featured-product {
    padding-top: 114px;
    font-size: 0;
    width: 80%;
    margin-left: 115px;
    margin-right: 115px;
}

.featured-product h2 {
    color: #303030;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0;
}

.featured-product p {
    color: #303030;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.featured-product .title:after {
    content: "";
    display: block;
    width: 213px;
    height: 17px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../img/underline.png);
    color: #eeeeee;
}

.section-img {
    width: 100%;
    display: inline-block;
    margin-bottom: 72px;
}

.section-img li {
    list-style: none;
    background-color: #eeeeee;
}

.section-img a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-img a:hover {
    background-image: url("../img/layer-2.png");
}

.first .box1 {
    height: 387px;
    width: 70%;
    background-image: url("../img/speaker-pill-white-standard-thrqrtleft.png");
    float: left;
    border: 15px solid white;
}

.first .box2 {
    height: 387px;
    width: 30%;
    background-image: url("../img/beats-by-dre-studio-red-highdefinition-headphones.png");
    float: right;
    border: 15px solid white;
}

.second .box3 {
    height: 387px;
    background-image: url("../img/layer-1.png");
    border: 15px solid white;
    float: left;
    width: 35%;
}

.second .box4 {
    height: 387px;
    background-image: url("../img/casual-shoes-for-men-2.png");
    border: 15px solid white;
    float: left;
    width: 35%;
}

.second .box5 {
    height: 387px;
    background-image: url("../img/tumblr-nko8p7po0t1qddxjwo3-1280.png");
    float: right;
    width: 30%;
    border: 15px solid white;
}